bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/


docker-compose.override.yml  
docker-compose.dev.yml      
docker-compose.test.yml     

!Dockerfile
!docker-compose.yml

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
frontend/yjs-wss-db/*
!frontend/yjs-wss-db/some-file-you-want-to-keep
.idea


cypress.env.json
*.local
.env  
.env.production
.env.development
.env.local
.vscode/
!.vscode/extensions.json  
.idea/
.DS_Store

build/
coverage/
.cache/
out/

*.sqlite3
*.db

secrets.dev.yaml
values.dev.yaml


# Logs
logs

yarn-error.log*


node_modules
dist
dist-ssr


# Editor directories and files
.vscode/*
!.vscode/extensions.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



.fake