services:


  backend:
    networks:
      - workhub-net
    image: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy


  frontend:

      networks:
        - workhub-net
      build:
        context: ./frontend
        dockerfile: Dockerfile
      environment:
        NODE_ENV: development
      ports:
        - 3000:3000



  db:
      networks:
        - workhub-net
      image: postgres
      restart: always
      user: postgres
      volumes:
        - db-data:/var/lib/postgresql/data
      environment:
        - POSTGRES_DB=example
        - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
      expose:
        - 5432
      healthcheck:
        test: [ "CMD", "pg_isready" ]
        interval: 10s
        timeout: 5s
        retries: 5
      env_file:
        - env


networks:
  workhub-net:
    driver: bridge

volumes:
  db-data:





